body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}
canvas {
    display: block;
    margin: auto;
    border: 2px solid white;
}